:root{
    --bg-color: #070707;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #9CA3AF;
    --accent-color: #22D3EE;
    --secondary-accent-color: #06B6D4;
    --border-color: #262626;
    --hover-color: #0c9eb5;
    --section-color: #1414144d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
    background-color: var(--bg-color);
}

.header{
    display: flex;
    padding: 16px 40px;
    justify-content: space-between; 
    align-items: center;
    border: 1px solid var(--border-color);
    background-color: transparent;
    backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    z-index: 10;
}

.header__logoName{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header__logo{
    width: 25px;
    height: auto;
    margin-left: 1.125em;
}

.header__name{
    color: var(--secondary-accent-color);
}

.nav__list{
    display: flex;
    list-style-type: none;
    gap: 1.3rem;
    font-size: 1.105rem;
}

.list__link{
    text-decoration: none;
    color: var(--secondary-text-color);
}

.list__link:hover{
    color: var(--primary-text-color);
}

.section-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    width: 80%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hero__img__container{
    width: 400px;
    max-height: 500px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background: linear-gradient(135deg, var(--accent-color), var(--hover-color), var(--secondary-accent-color));
    overflow: hidden;
    transition: border-radius 1s ease-out;
}

.hero__img__container:hover{
    border-radius: 57% 43% 87% 13% / 58% 88% 12% 42% ;
    
}

.hero__avatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__title{
  font-size: 4.3rem;
  font-weight: 700;
  text-wrap: balance;
  line-height: 1.25;
  color: var(--primary-text-color);
}

.highlight-text{
    color: var(--accent-color);
}

.hero__subText{
    color: var(--secondary-text-color);
    font-size: 1.125rem;
    word-spacing: 2px;
}

.hero__buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.hero__btn{
    width: 160px;
    height: 45px;
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    word-spacing: 2px;

}

.hero__btn--viewProject{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--bg-color);
}

.hero__btn--viewProject:hover{
    background-color: var(--hover-color);
}


.hero__btn--contact{
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--primary-text-color);
}

.hero__btn--contact:hover{
    background-color: var(--border-color);
    
}

.social-media{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem; 
}
#svg{
   width: 25px;
   height: 25px;
}

#Path_svg{
    fill: var(--secondary-text-color);
}

.social-link{
    display: inline-block;
}

.social-link:hover #Path_svg {
    fill: var(--hover-color);
    cursor: pointer;
}

.aboutMe-section{
    background-color: var(--section-color);
}

.aboutMe__box{
    width: 80%;
    display: flex;  
    flex-direction: column;
    padding: 5% 0px 5%;
    margin-bottom: 5%;
}

.section__title {
    color: var(--primary-text-color);
    opacity: .9;
    font-size: 3.8rem;
    margin-bottom: 5%;
    letter-spacing: 5px;
    align-self: center;
}

.blue-letter{
    color: var(--accent-color);
}

.aboutMe__description{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.aboutMe__imgBox{
    width: 25%;
    height: 40vh; 
    position: relative;
     
}

.aboutMe__imgBox::before{
    content: "";
    position: absolute;
    top: -25px;
    left: -35px;
    background-color: transparent;
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    width: 40%;
    height: 40%;
    z-index: -1;
    opacity: .5;
}

.aboutMe__imgBox::after{
    content: "";
    position: absolute;
    bottom: -25px;
    right: -25px;
    background-color: var(--accent-color);
    border-radius: 10px;
    width: 40%;
    height: 40%;
    z-index: -1;
    opacity: .5;

}

.aboutMe__imgContainer{
    background: linear-gradient(135deg, var(--accent-color), var(--hover-color), var(--secondary-accent-color));
    border-radius: 15px ;
    border: 2px solid var(--border-color);
    width: 100%;
    height: 100%;   
    box-shadow: 0 0 20px var(--hover-color) ;
    overflow: hidden;
}   

.aboutMe__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutMe__text{
    color: var(--secondary-text-color);
    font-weight: 500;
    word-spacing: 2px;
    font-size: 1.2rem;
    max-width: 600px;
    line-height: 1.5;
}

.projects__box{
    width: 80%;
    display: flex;  
    flex-direction: column;
    padding: 5% 0px 5%;

}

.projects__grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 40% );
    gap: 20px;
    justify-content: space-evenly;
}


.single-project{
  
    background: rgb(from var(--section-color) r g b / 0.7);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    row-gap: 15px;
    transition: border .3s ease-out, transform .3s ease-out;
}

.project__img{
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 15px;
}

.project__title{
    color: var(--primary-text-color);
    font-size: 1.53rem;
    transition: color .3s ease-out;
}

.project__text{
    color: var(--secondary-text-color);
    margin-bottom: 1%;
}

.project__languages{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.project__language{
    padding: 4px 8px;
    background-color: var(--border-color);
    color: var(--primary-text-color);
    font-size: .75rem;
    font-weight: 700;
    border-radius: 30px;

}
.project__links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.project__link{
    text-decoration: none;
     color: var(--accent-color);
     display: flex;
     align-items: center;
    cursor: pointer;

}

.line{
    stroke: var(--accent-color);
}

.polygon {
    fill: var(--accent-color) ;
   
}

.single-project:hover{
    border: 1px solid var(--accent-color);
    transform: translateY(-10px);
}

.single-project:hover .project__title{
    color: var(--accent-color);
}

.skills_box{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0px 5%;
}

